.contacts .stars--5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.contacts__field {
  width: 100%;
  max-width: 400px;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  border-radius: 8px;
}

.contact__title {
  margin-top: 20px;
  font-size: 32px;
  line-height: 33px;
  text-align: left;
  padding: 0 20px;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.contact__description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  text-align: left;
  padding: 0 20px;
}

.contacts__textarea {
  height: 150px;
}
