/* region page */
html {
  font-family: Manrope, sans-serif;
  color: #1b2129;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
  align-items: center;
}

body {
  margin: 0;
}

/* #endregion page */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(images/header-bg.png);
  background-size: cover;
  background-position: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  padding-top: 456px;
  padding-left: 20px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

/* #endregion header */

/* #region icons */
.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon--phone {
  background-image: url('images/icons/icon-phone.png');
}

.icon--menu {
  background-image: url('images/icons/icon-burger-menu.png');
}

/* #endregion icons */

/* #region footer */

/* #endregion footer */
