/* #region page */
html {
  font-family: Manrope, sans-serif;
  color: #1b2129;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
  align-items: center;
}

body {
  margin: 0;
}

/* #endregion page */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(images/header-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  line-height: 100%;
  color: #fff;
  margin: 0;
}

/* #endregion header */

/* #region menu */
.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #f9f9f9;

  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion menu */

/* #region icons */
.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon--phone {
  background-image: url('images/icons/icon-phone.png');
}

.icon--menu {
  background-image: url('images/icons/icon-burger-menu.png');
}

.icon--close {
  background-image: url('images/icons/icon-close.png');
}

/* #endregion icons */

/* #region footer */

/* #endregion footer */
